:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;

}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}

.titulo{
    text-align: center;
    font-size: 3.8rem ;
}
.titulo span{
    font-size: 2rem;
}
.navegador-principal{
    background-color: var(--secundario) ;
    padding:1rem ;
    display: flex;/*alinea elementos en tus diseños*/
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
}
/*al poner el pulsor en el hiperevinvulo*/
.navegador-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
    

}

.navegador-principal a{
    color: var(--blanco);
    text-decoration: none; /*Resmueve el estilo subrayado*/
    padding: 1rem;
}

.contenedor{
    width: 120rem;/*1200 pixeles porque 1 rem = 10px */
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}
/*
p{
    background-color: var(--primario);
}*/